{{#section 'css'}}

<link href="/css/fileinput.min.css" rel="stylesheet" type="text/css">

{{/section}}

{{#section 'js'}}
<script src="/plugins/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/plugins/tinymce/js/tinymce/themes/silver/theme.min.js"></script>
<script src="/js/wysiwyg/fileinput.min.js"></script>
<script src="/js/jquery/jquery.validate.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/mfunctions/functions.js"></script>
<script>
    $(function () {

        $('#frmPost').validate({
            onkeyup: false,
            rules: {

                title: {
                    required: true
                },
                slug: {
                    required: true
                },

                category: {
                    required: true,
                },

                subcategory: {
                    required: true,
                    remote: {
                        url: '/writers/writing/subcat-is-available',
                        data: {
                            id_cat: function () {
                                return $('#category').val();
                            },
                            id_subcat: function () {
                                return $('#subcategory').val();
                            }
                        }
                    }
                },

            },

            messages: {
                title: {
                    required: 'This field is required.',
                },

                slug: {
                    required: 'This field is required.',
                },

                category: {
                    required: 'This field is required.',
                },

                subcategory: {
                    required: 'This field is required.',
                    remote: 'Choose correct sub category'
                },
            },

        errorElement: 'small',
        errorClass: 'help-block text-danger',
        validClass: 'is-valid',
        highlight: function (e) {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (e) {
            $(e).removeClass('is-invalid').addClass('is-valid');
        },
        });

    $('#fuMain').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
        uploadClass: 'btn btn-success',
        maxFileCount: 2,
        uploadAsync: false,
        showCaption: true,
        showPreview: true,
        showRemove: true,
        showUpload: false, // <------ just set this from true to false
        showCancel: true,
        showUploadedThumbs: true,
            {{!-- uploadUrl: '/upload', --}}
        });

    tinymce.init({
        selector: "#content",
        menubar: false,
        height: 600,
        plugins: 'paste image link autolink lists table media',
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
            'forecolor backcolor',
            'table link image media',
            // 'paste'
        ],
        image_caption: true,
        entity_encoding: "raw",
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });
    })

</script>

{{/section}}

<form novalidate id="frmPost" ction="" method="POST">
    <div class="card shadow">
        <h5 class="card-header">
            New Post
        </h5>
        <div class="card-body">
            <div class="form-group">
                <label for="title">Title</label>
                <div class="">
                    <input id="title" name="title" class="form-control" onkeyup="ChangeToSlug();" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="slug">Slug Title</label>
                <div class="">
                    <input id="slug" name="slug" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" name="category" class="form-control">
                    <option value="">--</option>
                    {{#each this.categories}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="category">Sub Category</label>
                <select id="subcategory" name="subcategory" class="form-control">
                    <option value="0">--</option>
                    {{#each this.subcategories}}
                    {{#each ../categories}}
                    {{#eq ../id_category id}}
                    <option value="{{../id}}"> Cat: {{name}} -- Sub: {{../name}}
                    </option>
                    {{/eq}}
                    {{/each}}
                    {{/each}}
                </select>
            </div>


            <div class="form-group">
                <label for="fuMain">Photo:</label>
                <div class="file-loading">
                    <input id="fuMain" name="fuMain" type="file" multiple>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Tags
                </div>
                <div class="">
                    <div class="card-body">
                        <div>
                            {{!-- LOAD TAGS --}}
                            {{#each tags}}
                            <a class="btn btn-outline-primary mx-1 my-1">
                                <input class="" type="checkbox" name="{{id}}"> {{name}}
                            </a>
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <div class="">
                    <textarea id="summary" name="summary" required class="form-control" type="text"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" required name="content"></textarea>
            </div>
        </div>
        {{#if isAuthenticated}}
        <input type="hidden" name="writer_id" value="{{authUser.id}}">
        {{/if}}
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>